
/* ******************general style**********************************/

p {
	text-align: center;
}

footer, aside, .content-card-data {
	display: flex;
	overflow-wrap: wrap;
	justify-content: center;
}

.form-control {
    width:400px;
    border-radius: 5px;
}

.bg-light {
    background-color: floralwhite;
}

  /****************** header style****************/

.search-bar {
	border: 2px inset floralwhite;
	width:100%;
}

#company-logo-header {
	width: 100%;
	height: 300px;
}

#search-input {
    width: 100%;
}

.icon {
	width: 8%; !important
	height: 8%;
}

.social-media, header, {
	display: flex;
	flex-direction: column;
}

.social-media-icons, .inline-flex, .user-profile{
	display: inline-flex;
	align-items: center;
}

.social-media img {
	width: 30px;
	height: 30px;
	margin: 3px;
}

.user-profile {
	float: right;
}
  /******************aside style****************/
#aside-contact {
	background-color: wheat;
	margin: 10px;
	border: 2px inset #57A;
	border-radius: 5px;
}

#aside-container {
	background-color: cadetblue;
}

#aside-footer {
	margin: 10px;
	border: 2px inset #57A;
	justify-content: center;
}
  
  /******************main content style****************/

.detail_obj {
    text-align: center;
}

#image-galary {
	display: flex;
	flex-wrap: wrap;
}

.image-galary-content {
	border-radius: 5px;
	border-style: inset;
	border-color: floralwhite;
	margin: 10px;
}

.slider-image {
	width: 200px;
	height: 200px;
	padding: 10px;
}

  /******************footer style****************/

.footer-content {
	justify-content: center;
}

#copy-right-footer {
	color: red;
	border: none;
}
 /***************navigation style****************/


.nav-container, .menu-content {
	float: right;
	padding: 5px;
}

#top-nav {
	background-color: wheat;
}

.dropdown-button, user-profile input {
	overflow: hidden;
	background-color: inherit;
	border: none;
	font-size: inherit;
}

.dropdown-button:hover, .menu-content a:hover {
	background-color: goldenrod;
	color: oldlace;
}