<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Index</title>
</head>
<body>

<div id="index" style="display: flex; padding: 20px; margin: 20px; ">
    <div style="width:50%">
        <h2 style="text-align: center;">Books Available</h2>
        {% if books %}
            {% for book in books %}
        <li> <a href="{% url 'book_detail' book.get_absolute_url %}" >{{book.name }}</a>
            <ul> <li> {{book.auther}} </li></ul>
        </li>
                 <br> 
            {% endfor %}
        {% else %}
            <p> No books to Display </p>
        {% endif %}
    </div>

    <div style="width:50%">
        <h2 style="text-align: center;">Authers <sub> whoes books are available</sub></h2>
       {% if authers %}
            {% for auther in authers %}
                <ul> <strong><a href="{% url 'auther_detail' auther.get_absolute_url %}" >
                                    {{auther.first_name}} {{auther.last_name}}
                        </a></strong>

                </ul>
            {% endfor %}
        {% else %}
            <p> No Authers to Display </p>
        {% endif %}
    </div>
</div>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


    <form action="{% url 'book_add' %}" method="POST">

        {% csrf_token %}

        <div id="book_add" style="display:grid; width:350px; padding:20px">
            Book Name : <input type="text" name="book_name"/>
            Book Auther : <input type="text" name="book_auther"/>
            Book Published On : <input type="date" name="book_published"/>
            <input type="submit" value="add"/>
        </div>
    </form>


</body>
</html>